<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Scotland Yard Ai</title>
  <link rel="stylesheet" href="/public/style.css">
  <script src="/public/sigma.min.js"></script>
  <script src="/public/sigma.parsers.json.min.js"></script>
  

</head>
<body>
  <div id="graph-container"> </div>
  <script>
    sigma.parsers.json('public/graph/taxi_data.json', {
      container: 'graph-container',
      settings: {
        defaultNodeColor: '#ec5148',
        drawLabels: true
      }
    });
  </script>
</body>

</html>