main {
  height: 98vh;
  display: grid;
  grid-template-columns: auto 350px;
  grid-template-rows: 98vh;
}
#main-wrapper {
  height: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
}
#graph-container {
  height: 98%;
}
#replay-header {
  height: 0;
  display: none;
}
#replay-header.show {
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#replay-header > * {
  flex: 1 1 auto;
  margin: 5px;
  font-weight: bold;
}
#sidebar {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  background-color: #fcfcfc;
  padding: 4px;
  overflow-y: scroll;
}
#sidebar > * {
  font-size: 18px;
  width: 100%;
  height: auto;
  padding: 3px 0;
}
#sidebar > div:first-child {
  font-size: 24px;
  padding: 6px 0;
  font-weight: bold;
  text-align: center;
}
#game-start-info {
  width: 100%;
}
#game-start-info th {
  text-align: left;
}
